.txt
.~
*.doc
*.ini
*.docx
*.jpg
*.jpeg
*.[oa]
*.pyc
*.dat
*.log
Prueba carga/
*.mwb
docs/
stage_area/
stage_area/catalogos/
parametros_stats/
__pycache__/
code/extract/__pycache__/
flask_app/__pycache__/
flask_app/controlador/
flask_app/modelo/
!flask_app/static/docs/
!tests/unit/fixtures/config.ini
flask_app/a.py
flask_app/b.py
flask_app/c.py
flask_app/main.py
flask_app/testa.txt
flask_app/testb.txt
flask_app/testc.txt
.vs/
.venv/
venv/*
venv
### pip install --only-binary :all: mysqlclient


.idea
.idea/
.idea/*